* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
}

/* Área de apresentação */

#apresentacao-container {
    width: 60%;
    padding: 3rem 3rem 2rem;
    border-right: 2px solid #dfe2e5;
}

#apresentacao-container img {
    width: 120px;
    height: auto;
}

#apresentacao-container h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
    padding: 0 3rem;
    font-weight: 400;
}

#apresentacao-container span {
    background: linear-gradient(
        270deg,
        #d400c3 0%,
        #c13584 30%,
        #fd1d1d 65%,
        #fcb045 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#imagem-apresentacao {
    width: 500px;
    height: 403px;
    margin: 0 auto;
}

#imagem-apresentacao img {
    width: 100%;
    height: 100%;
}

/* Área de login */

#form-container {
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    width: 40%;
}

#form-container h2 {
    font-size: 18px;
    margin-bottom: 1rem;
}

#form-container input {
    display: block;
    width: 100%;
    padding: 20px 15px;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid #dfe2e5;
    color: #6a6a72;
    font-weight: 500;
}

#login-btn,
#redefinir-senha {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
}

#login-btn {
    color: #fff;
    border-radius: 50px;
    border: none;
    background-color: #0064e0;
    margin-top: 1rem;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.9;
}

#login-btn:hover {
    opacity: 1;
}

#redefinir-senha {
    margin-top: 10px;
    text-decoration: none;
    color: #271112;
    text-align: center;
}

#redefinir-senha:hover {
    background-color: #f2f4f6;
    border-radius: 50px;
}
